<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="CoreClasses.CustomizeListner" />
	</listeners>



	<test thread-count="5" name="Test">
		<classes>
			<class name="test.LoginCRMApplication" />
			<!--<class name="test.MarketingtestCases" /> -->
			<class name="test.Calender" />

		</classes>



	</test> <!-- Test -->
</suite> <!-- Suite -->
